<!-- Sign up page for new users who wish to create a contact book -->

{% extends "index.html" %}
{% block body %}
  <h2>Add contact page</h2>
<div class="panel panel-primary col-md-6 col-md-offset-3" align="center">
    <div class="panel-heading"><h3>Enter contact details for new entry to the contact list</h3></div>
    <div class="panel-body">
        <form class="form-horizontal " method="POST" action="{{url_for('contact')}}">
            <div class="form-group form-inline">
            <label for="inputName" class="control-label col-sm-4">Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Enter first name" required autofocus>
                </div>
            </div>
            <div class="form-group form-inline">
            <label for="inputSurname" class="control-label col-sm-4">Surname:</label>
               <div class="col-sm-4">
                   <input type="text" class="form-control" id="inputSurname" name="inputSurname" placeholder="Enter surname" required>
               </div>
            </div>
            <div class="form-group form-inline">
            <label for="inputPhone" class="control-label col-sm-4">Phone number:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputPhone" name="inputPhone" placeholder="Enter phone number" required>
                </div>
            </div>
            <div class="form-group form-inline">
            <label for="inputEmail" class="control-label col-sm-4">E-mail address:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputEmail" name="inputEmail" placeholder="Enter E-mail address" required>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" id="submitButton" type="submit">Add new contact</button>
        </form>
   </div>
</div>
{% endblock %}