<!-- This is main page of the application where user can see existing contacts and add, remove or edit them -->

{% extends "index.html" %}
{% block body %}
  <h2>Welcome, {{user}}</h2>
    <p><h4>Contact full names, phone numbers and e-mail addresses are displayed together with corresponding contact number
    in the list.</h4></p>
   <!-- Table to display the contacts details and a delete button for each contact -->
        <table class="table table-bordered" >
        <!-- Headers for data columns -->
            <thead>
                <th>List No.</th>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>E-mail Address</th>
                <th>Delete</th>
            </thead>
            <tbody >
            <!-- Rows that hold the data with contact details -->
                <tr>
                    <th id="number" name="number"></th>
                    <td id="name" name="name"></td>
                    <td id="phone" name="phone"></td>
                    <td id="email" name="email"></td>
                    <td id="delete"></td>
                </tr>
            </tbody>
        </table>

    <!-- Javascript for jQuery and processing response from server to web application-->
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">

    //retrieve cut-down json object containing contact details from the database
    $(document).ready(function(){
         $.get("/retrieve", function(response){
        var user = JSON.parse(response); // user is the current user using the application
             //print out the details of the contacts in a table adding necessary tags for rows and data along the way
            $.each(user.contacts, function(i){
                 $('#number').append("<tr><th>"+(i+1)+"</th>");
                 $('#name').append("<td>").append(user.contacts[i].name+" "+user.contacts[i].surname).append("</td>");
                 $('#phone').append("<td>").append(user.contacts[i].phone).append("</td>");
                 $('#email').append("<td>").append(user.contacts[i].email).append("</td>");
                 $('#delete').append("<td>").append("<button class='btn btn-xs btn-primary' type='submit' action='/del_contact' name='"+i+"'"+">Delete</button>").append("</td></tr>");
             });

             //get the event that button was pressed.
             $("button").click(function(){
                 var btn = $(this).attr('name');//button gets assigned the row id of the row its on
                 //next, contact details are taken from table to be used in locating it on database for deletion purpose.
                 var cName = user.contacts[btn].name;
                 var cSurname = user.contacts[btn].surname;
                 var cPhone = user.contacts[btn].phone;
                 var cEmail = user.contacts[btn].email;

                 //get the user to confirm their choice to delete a contact(in case of accidental delete button click)
                 var choice = confirm("Contact "+cName+" "+cSurname +" is about to be deleted")

                 //if choice comes back as true(OK clicked) following function executes
                 if(choice){
                     //send details of contact to be deleted into the flask server.
                     $.post(
                         '/del_contact',
                         {cName: cName, cSurname: cSurname, cEmail: cEmail, cPhone: cPhone}

                     )
                     //following code reloads the table once delete button is pressed on one of contacts.
                    location.reload(true);
                 }
             })

        })
    })
    </script>

{% endblock %}

