<!DOCTYPE html>
<!-- Author: Mindaugas Vainauskas -->
<!-- Originally adapted from: http://getbootstrap.com/getting-started/ -->
    <title>WebApp</title>    
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

     <nav class="navbar navbar-inverse"><h2>Flask web App project</h2>
       <div class="navbar-brand pull-right"> 
        <a href="{{ url_for('login') }}">Log in</a>
        <a href="{{ url_for('signup') }}">Sign Up</a>
        <a href="{{ url_for('home') }}">Home</a>  
      </div> 
    </nav>  
    
<div class=page>
   
   
  {% block body %}{% endblock %}
    
   
</div>
</html>