<!-- Login page for user to gain access to their contact book -->

{% extends "index.html" %}

<!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

{% block body %}

<!--adapted from http://getbootstrap.com/getting-started/#examples-->
   <div class="container col-md-offset-4 col-xs-4">

      <form class="form-group" method="POST" action="{{url_for('login')}}">
        <h2 class="form-signin-heading" >Please sign in</h2>
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" id="inputName" name="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div>
        	<a href="{{ url_for('signup') }}">Dont have account yet?</a>
        </div>
      </form>

    </div> <!-- /container -->

  
{% endblock %}